.griffin-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.griffin-sdd {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.griffin-image {
  width: 200px;
  object-fit: cover;
}
.griffin-fragment1 {
  display: contents;
}
.griffin-text3 {
  display: inline-block;
}
.griffin-fragment2 {
  display: contents;
}
.griffin-text4 {
  display: inline-block;
}
